/* This code is only meant for previewing your Reflow design. */
/* MAKETACION ESPECIFICA DE PAGINA*/
.tabla_container_card .celdadorsal_container_card{
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    padding-top:7px;
    padding-bottom:9px;
    background-color:rgb(204,204,204);
    width: 5%;
}
/* MAKETACION ESPECIFICA DE PAGINA*/
/* TEXTOS*/

/* TEXTOS*/



