/* This code is only meant for previewing your Reflow design. */
/* MAKETACION ESPECIFICA DE PAGINA*/

/* MAKETACION ESPECIFICA DE PAGINA*/
/* TEXTOS*/
.text_temporal {
	font-family: arial;
    font-size: 15px;
    text-align: left;
    font-weight: normal;
    line-height: 15px;
    word-wrap: break-word;
    color: rgb(204,204,204);
	margin-bottom:5px;
}
/* TEXTOS*/


